# Backend API
VITE_API_URL=http://localhost:5000/api

# Avalanche Network
VITE_CHAIN_ID=43113
VITE_CHAIN_NAME=Avalanche Fuji Testnet
VITE_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc

# Smart Contract
VITE_CONTRACT_ADDRESS=

# IPFS Gateway
VITE_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs/

# WalletConnect Project ID
VITE_WALLETCONNECT_PROJECT_ID=
