# Blockchain Configuration
AVALANCHE_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
AVALANCHE_MAINNET_RPC_URL=https://api.avax.network/ext/bc/C/rpc
PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000

# Block Explorer
SNOWTRACE_API_KEY=your_snowtrace_api_key_here

# Gas Reporter (Optional)
REPORT_GAS=false
COINMARKETCAP_API_KEY=your_coinmarketcap_api_key_here
